//variables colors:

$colors-primary: hsl(267, 66%, 60%);
$colors-secondary: hsl(317, 100%, 74%);
$colors-tertiary: hsl(165, 56%, 74%);

//variables fonts:

 $font-family-logo-titles: 'Shrikhand';
$font-family-text: 'Roboto'; 

//variables screens breakpoints:
$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
);






