/*_________________________________________________________________________*/
/****** loader ***********/
/*_________________________________________________________________________*/

 .loader {
     position: fixed;
     inset: 0;
     z-index: 50;
     display: grid;
     place-items: center;
     background-color: rgba(255, 255, 255, 0.94);
     animation: fade-out 0.1s cubic-bezier(0.11, 0, 0.5, 0) 3s forwards;
 }

 .loader__wrapper {
     perspective: 120px;
     animation: zoom-in 0.1s cubic-bezier(0.5, 1, 0.89, 1) backwards, 
     zoom-in 0.1s 2.9s cubic-bezier(0.11, 0, 0.5, 0) reverse forwards;
 }
.loader_page {
    font-size: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from hsl(267, 66%, 60%), to hsl(317, 100%, 74%));
    background: -webkit-linear-gradient(top, hsl(267, 66%, 60%), hsl(317, 100%, 74%));
    background: linear-gradient(to bottom, hsl(267, 66%, 60%), hsl(317, 100%, 74%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
  .loader__spinner {
     width: 3.5rem;
     height: 3.5rem;
     border-radius: 50%;
  
     animation: spinner 2.8s 0.1s cubic-bezier(0.45, 0, 0.55, 1);
 }  

 
$colors-primary: hsl(267, 66%, 60%);
$colors-secondary: hsl(317, 100%, 74%);