/*_________________________________________________________________________*/
/****** menu principal ***********/
/*_________________________________________________________________________*/

.menu {
    padding-inline: calc((100vw - min(90vw, 75rem))/2);
    position: relative;
    margin-top: -1.5rem;
    padding-block: 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: #f7f7f7;
}

.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.menu__content {
    display: grid;
    gap: 2rem 1.5rem;
    grid-auto-columns: minmax(0, 1fr);
}

.menu__comander {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

@media (min-width: 1024px) {
    .menu {
        width: 100%;
        max-width: none;
    }

    .menu__content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.menu-group__list {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}